<%= render "shared/navbar" %>
<div class="position-relative img-banner">
  <div class="banner-header mt-4 w-75 position-absolute top-50 start-50 translate-middle">
    <h1><strong>Refloresta a sua terra e <u>ganhe mais dinheiro</u></strong></h1>
  </div>

  <div class="position-absolute w-75 top-100 start-50 translate-middle">
    <%= link_to set_location_path do%>
    <div class="btn btn-success w-100 py-3 border-radius-4">Comece A Ganhar</div>
    <% end %>
  </div>
</div>

<button class="w-100 pt-5 pb-2 text-gray" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <div class="d-inline-flex">
    <div>
      <i class="fa-solid fa-circle-arrow-down px-1"> </i>
    </div>
    <div >
      Saiba mais
    </div>
  </div>
</button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>

<%#= image_tag "amazon", class: "img-banner"%>
