<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= simple_form_for @land, url: set_location_path, method: :post do |form| %>
  <%= form.input :address %>
  <%= form.button :submit, "Próximo" %>
<% end %>

<%= session[:location] %>
