
  <div class="position-relative">
    <div class="banner-header mt-4 w-75 position-absolute top-50 start-50 translate-middle">
      <h1><strong>Refloreta a sua terra e <u>ganha mais dinheiro</u></strong></h1>
    </div>
    <%= image_tag "amazon", class: "w-100"%>
    <div class="position-absolute w-75 top-100 start-50 translate-middle">
      <div class="btn btn-success w-100 py-3 border-radius-4">Comece A Ganhar</div>
    </div>
  </div>
