.banner-header {
  color: white;
}

.img-banner {
  background-image: image-url("amazon.jpeg");
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.img-banner-set {
  background-image: image-url("mata_tlantica.jpeg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 54px)
}

.w90 {
  width: 90%;
}

.bold-20 {
  color: white;
  font-size: 1.3rem;
  font-weight: 800;
}
