
.navbar-white-change {
  background-color: rgba(34,170,100, 0.2);
  border-bottom: 1px solid white;
  backdrop-filter: blur(1px);
}

.new-background {
    background-color: rgba(34,170,100, 0.8) !important;
}

.navbar-margin-top {
  margin-top: 65px;
}
