
.navbar-white-change {
  background-color: rgba(34,170,100, 0.2);
  border-bottom: 1px solid white;
  backdrop-filter: blur(5px);
}

.new-background {
  background-color: rgba(34,170,100, 0.8) !important;
}

.navbar-margin-top {
  margin-top: 65px;
}

.toggle-button {
  background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-black-change {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  backdrop-filter: blur(5px);
}
